@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f6f5f7;
    min-height: 100%;
    margin: 5%;
}
.container{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22) ;
}

.sign-up, .login{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.login{
    width: 50%;
    z-index: 2;
}

form{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0px 20px;
}
input{
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    color: #fff;
    background: #2b3499;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid #2b3499;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active{
    transform: scale(0.90);
}
button:hover{
    background: #fff;
    color: #2b3499;
}

#signUp, #logIn{
    background-color: transparent;
    border: 2px solid #fff;
}
.container.right-panel-active .login{
    transform: translateX(100%);
}
.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    position: relative;
    color: #fff;
    background: #6b72bb;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #39a7ff, #2b3499);
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 75px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.overlay-btn:hover{
    color: #fff;
}

.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(-20%);
}
.social-container{
    margin: 20px 0;
}
.social-container a{
   height: 40px;
   width: 40px;
   margin: 0px 5px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #ccc;
   border-radius: 50%;
}
@media screen and (max-width: 800px){
    .container{
        width: 500px;
    }
    .social-container a{
        height: 20px;
        width: 20px;
        margin: 0px 3px;
    }
    input{
        padding: 6px 15px;
        margin: 8px 15px;
    }
    button{
        font-size: 10px;
        padding: 10px 35px;
        margin: 10px;
    }
}
@media screen and (max-width: 470px){
    p{
        line-height: 19px;
    }
    button{
        font-size: 8px;
        padding: 6px 20px;
        margin: 6px;
    }
}















